.NewOrder form {
  padding-bottom: 15px;
}

.NewOrder form textarea {
  height: 100px;
  font-size: 20px;
}

.date-area {
	height: 50px;
}

.date-container {
	display: flex;
	justify-content: space-evenly;
}